@media only screen and (max-width: 700px) {
  .parent {
    display: none;
  }
  .background-video {
    display: none;
  }
}
@media only screen and (max-width: 990px) {
  .background-video {
    display: none;
  }
  .parent {
    display: none;
  }
}

.parent * {
  margin: 0;
  padding: 0;
}

.parent {
  background-image: linear-gradient(center bottom center, #0071eb);
  margin-bottom: 10rem;
}

.title {
  width: 100%;
  margin: 0 !important;
  padding: 0 !important;
}

.title * {
  z-index: 50;
}

.title__image {
  position: absolute;
  margin: 0 !important;
  padding: 0 !important;
  z-index: 0 !important;
  width: 100%;
}

.background-video {
  width: 100%;
  height: fit-content !important;
  z-index: 1;
}

.title__space {
  margin-top: 15rem !important;
  padding: 0;
}

.title__body {
  margin-top: 17rem !important;
  padding: 0;
}

.title__body--logo {
  width: 32vw;
  margin-bottom: 1rem;
}

.title__body--description {
  width: 32vw;
  margin-bottom: 5rem;
}

.title__body--button {
  padding: 0.5rem 1.5rem;
  margin: 0 0.675rem 0.675rem 0;
  border-radius: 5px;
  height: 2.7rem;
  border: none;
  background-color: transparent;
  font-weight: bold;
}

.title__body--button__element {
  margin-right: 0.5rem;
  display: inline-block;
}

.title__body--button:hover {
  opacity: 0.8;
}

.title__aside {
  padding: 0 !important;
  margin: 0 !important;
  display: flex;
  justify-content: flex-end;
  width: 5.875rem;
  height: 2.159rem;
  margin-top: 35rem !important;
}

.title__aside--maturityRating {
  background-color: rgba(51, 51, 51, 0.6);
  border-left: 3px solid #dcdcdc;
  padding: 0.45rem 3.15rem 0.45rem 0.72rem;
}

.title__aside--btn {
  background-color: transparent;
  border: white solid 1px;
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  opacity: 0.8;
  margin-right: 1rem !important;
}

.title__aside--btn__icon {
  padding: 0 !important;
}

.title__aside--btn__icon {
  margin-left: 0.42rem !important;
}

.title__aside--btn:hover {
  opacity: 1;
}

.btn1 {
  background-color: #fff;
}

.btn1__text {
  color: #141414;
}

.btn2 {
  background-color: #808080;
}

.none{
  display: none;
}