.cardbody {
  display: none;
  transition: 3s !important;
}

.Card:hover .cardbody {
  display: flex;
  position: relative;
  z-index: 9999;
  transition: 3s !important;
}

.cardbody .card-text {
  position: relative;
  background-color: rgba(255, 255, 255, 0.8);
}
